body{ overflow-x:hidden; font-family: 'Montserrat', sans-serif;}  

/*COLORES DE LA PLANTILLA*/
.color {
  background-color: #fcf5f5!important; /*ROSA*/
}
.secondary_color{
  background-color: black; /*NEGRO*/
}
.terceary_color{
  color: #ffffff; /*BLANCO*/
}
.primary_color{
  color: black; /*NEGRO*/
}
.borde{
  border-top: 1px solid #ffffff!important;
}

/*ESTILOS TOPBAND*/
.topband {
  height: 40px;
}
.topband a {
  font-weight: bold;
  margin-top: 15px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.identity {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.identity p {
  margin-left: 20px;
  margin-top: 15px;
}
.identity img {
  margin-left: 10px;
  margin-top: 15px;
}

/* ESTILOS DEL MENU */
#menu {
  float:left; 
  left:50%; 
  list-style-type:none; 
  margin:0 auto; 
  padding:0; 
  position:relative;
}
#menu 
.fondo_color_b {  
  position:relative; 
  right:50%;
}
#menu li a {
  font-size:12px; 
  text-align:left;
}
#menu li a:hover { 
  color:#fcf5f5!important; /*ROSA*/
  background-color:transparent; 
}
.dropdown-menu > li > a {
  padding: 3px 20px; 
  font-weight: normal; 
  white-space: nowrap;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom:0px;
  border: 1px solid transparent;
}
.navbar-default 
.navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color:#000000; 
  color:#4da6b3;
}
.navbar-default 
.navbar-nav 
.dropdown-menu a:hover{ 
  color:#4da6b3;
}
.navbar-toggle { 
  position: relative; 
  float: left; 
  padding: 12px 10px; 
  margin-left:  15px; 
  margin-bottom: 8px; 
  border-radius: 0px;
  background-color: #000000!important; /*ROSA*/
  background-image: none;
  border: 1px solid transparent;
}
.navbar-toggle span {
  background-color: #ffffff!important; /* BLANCO*/
}
.navbar-default 
.navbar-toggle:focus, 
.navbar-default 
.navbar-toggle:hover {
  background-color:#ffffff;
}
.navbar-default 
.navbar-collapse, 
.navbar-default 
.navbar-form {
  border-color: transparent;
}
.navbar-default 
.navbar-toggle {
  border-color: #ffffff;
}
.drop li { 
  line-height:20px; 
  text-transform:uppercase; 
}
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar { 
    text-align: center;
    } 
  }

/* FOTO */
.center{
  width: 300px;
  margin: 0 auto;
}

/* SOCIAL */
.social{
  text-align: center;
  font-size: 17px;
}
.social div a{
  float: left;
  margin: 15px;
  width: 50px;

}
.nombre{
  text-align: center;
}

/*FULL IMAGEN*/
.titulo {
  text-align: center;
}
.titulo h5{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  /* margin-top: 40px; */
}
.titulo hr {
  border-top: 1px solid #000000; 
  width: 100%;
}

/*FOOTER*/
.footer {
  padding-top: 40px;
  padding-bottom: 80px;
}
.footer h4, a, p {
  line-height: 20px;
}
.footer h4 {
  font-weight: bold;
}
.footer a {
  font-size: 12px;
}
.footer p {
  font-size: 12px;
}

/* SKILLS */
.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: black; /* White text color */
}
.html {width: 100%; background-color:#fcf5f5;} /* Green */
.css {width: 80%; background-color:#fcf5f5;} /* Blue */
.js {width:50%; background-color:#fcf5f5;} /* Red */
.php {width: 20%; background-color:#fcf5f5;} /* Dark Grey */
.skills2 {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: black; /* White text color */
}
.html2 {width: 100%; background-color: #fcf5f5;} /* Green */
.css2 {width: 80%; background-color: #fcf5f5;} /* Blue */
.js2 {width:80%; background-color: #fcf5f5;} /* Red */
.php2 {width: 50%; background-color: #fcf5f5;} /* Dark Grey */

/* PORTAFOLIO */
.content {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.content h4{
  font-weight: bold;
}

/*ESTILOS FOOTBAND*/
.footband {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.footband div {
  padding: 35px;
}


/* 
Datos wordpress Remet 

https://streamingweb.site/remet/wp-admin/
Usuario: remet
Contraseña: |d!dz8mLI2xn

Base de datos en cpanel

Usuario: remet_db
clave: kenyuri951
Base de datos: remet_db 

hosting cpanel de Remet

https://rs-dal.serverhostgroup.com:2083/

usuario: remet
Clave: XV_5IZULqx+g 

hosting directasmin Remet

https://directadmin-de.kxe.io:2222/

Username: tiendav1
Password: zm7fMJ89q6

*/



