body{ 
  overflow-x:hidden; 
  font-family: 'Baloo Tammudu 2', cursive;
}  

/*COLORES DE LA PLANTILLA*/
.borde{
  border-top: 1px solid #ffffff!important;
}
.color {
  background-color: #fcf5f5!important; 
}
.menu{
  background-color: black;
}
.primary_color{
  color: black; 
}
.secondary_color{
  background-color: black; 
}
.terceary_color{
  color: #ffffff; 
}
.primary_back{
  color: black;
}


/*ESTILOS TOPBAND*/
.topband {
  height: 40px;
}
.topband a {
  font-weight: bold;
  margin-top: 15px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.identity {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.identity p {
  margin-left: 20px;
  margin-top: 15px;
}
.identity img {
  margin-left: 10px;
  margin-top: 15px;
}

/* ESTILOS DEL MENU */
#menu {
  float:left; 
  left:50%; 
  list-style-type:none; 
  margin:0 auto; 
  padding:0; 
  position:relative;
}
#menu 
.fondo_color_b {  
  position:relative; 
  right:50%;
}
#menu li a {
  font-size:17px; 
  text-align:left;
}
#menu li a:hover { 
  color:#fcf5f5;
  background-color:transparent!important; 
}
.dropdown-menu > li > a {
  padding: 3px 20px; 
  font-weight: normal; 
  white-space: nowrap;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom:0px;
  border: 1px solid transparent;
}
.navbar-default 
.navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color:#000000; 
  color:#4da6b3;
}
.navbar-default 
.navbar-nav 
.dropdown-menu a:hover{ 
  color:#4da6b3;
}
.navbar-toggle { 
  position: relative; 
  float: left; 
  padding: 12px 10px; 
  margin-left:  15px; 
  margin-bottom: 8px; 
  border-radius: 0px;
  background-color: #000000!important; 
  background-image: none;
  border: 1px solid transparent;
}
.navbar-toggle span {
  background-color: #ffffff!important; 
}
.navbar-default 
.navbar-toggle:focus, 
.navbar-default 
.navbar-toggle:hover {
  background-color:#ffffff;
}
.navbar-default 
.navbar-collapse, 
.navbar-default 
.navbar-form {
  border-color: transparent;
}
.navbar-default 
.navbar-toggle {
  border-color: #ffffff;
}
.drop li { 
  line-height:20px; 
  text-transform:uppercase; 
}
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar { 
    text-align: center;
    } 
  }

/* FOTO */
.nombre{
  text-align: center;
}
.center{
  width: 300px;
  margin: 0 auto;
}
/* SOCIAL */
.social{
  font-size: 17px;
}
.social h2{
  padding-top: 30px;
}
.social div a{
  float: left;
  margin: 15px;
  width: 50px;
}


/*FULL IMAGEN*/
.titulo {
  text-align: center;
  padding: 30px;
}
.titulo h5{
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
/* SKILLS */
.skill-f p{
  padding-top: 10px;
  font-size: 20px;
}
.skills {
  text-align: right; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  color: black; 
}
.html{
  width: 100%; 
  background-color:#000000;
} 
.css{
  width: 80%; 
  background-color:#000000;
} 
.js{
  width:50%; 
  background-color:#000000;
} 
.php{
  width: 20%; 
  background-color:#000000;
} 
.skills2{
  text-align: right; 
  padding-top: 2px;
  padding-bottom: 2px; 
  color: black; 
}
.html2{
  width: 100%; 
  background-color: #000000;
} 
.css2{
  width: 80%; 
  background-color: #000000;
} 
.js2{
  width:80%; 
  background-color: #000000;
} 
.php2{
  width: 50%; 
  background-color: #000000;
} 
/* PORTAFOLIO */
.content {
  box-shadow: 0px 0px 16px rgb(195, 195, 195);
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.content:hover{
  box-shadow: 0px 0px 15px rgb(195, 195, 195);
	max-width: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.10);
	transform: scale(1.10);
}
.content h4{
  font-weight: bold;
}
/* ICONOS REDES SOCIALES */
.social a{
  font-size:25px;
  padding:3px;
}
.social a:hover{
  color:#ec2d3d;
}
.fa-linkedin{
  color:#ec2d3d;
}
.fa-instagram{
  color:#ec2d3d;
}
.fa-twitter{
  color:#ec2d3d;
}
.fa-youtube{
  color:#ec2d3d;
}
.fa-facebook-official{
  color:#ec2d3d;
}
.fa-github{
  color:#ec2d3d;
}
/*ESTILOS FOOTBAND*/
.footband {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.footband div {
  font-size: 17px;
  padding: 25px;
  color: #ffffff;
}


/* 
Datos wordpress Remet 

https://streamingweb.site/remet/wp-admin/
Usuario: remet
Contraseña: |d!dz8mLI2xn

Base de datos en cpanel

Usuario: remet_db
clave: kenyuri951
Base de datos: remet_db 

hosting cpanel de Remet

https://rs-dal.serverhostgroup.com:2083/

usuario: remet
Clave: XV_5IZULqx+g 

hosting directasmin Remet

https://directadmin-de.kxe.io:2222/

Username: tiendav1
Password: zm7fMJ89q6

*/



